
        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="/public/uploads/<%=`${slider[0].image}`%>">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 >Contact Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- contact-area -->
            <section class="contact-area pt-100 pb-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="contact-wrap">
                                <div class="section-title title-style-three mb-30">
                                    <span class="sub-title">Contact Us Now</span>
                                    <h2 class="title">Write a Message</h2>
                                </div>
                                <form action="/api/contact/add" method="POST" class="contact-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="name" placeholder="Your Name *">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" name="email" placeholder="Your Email *">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="tel" placeholder="Your Phone">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <textarea name="message" name="message" placeholder="Your Message"></textarea>
                                    <button class="btn">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7">
                            <aside class="contact-sidebar">
                                <div class="widget">
                                    <div class="contact-sidebar-img mb-20">
                                        <h4>Contact-us</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque consectetur libero facere deleniti, soluta assumenda asperiores, fuga, ipsa sed repellendus ex magnam dolorum. Obcaecati, quidem eaque! Minus repudiandae quo voluptatem?</p>
                                    </div>
                                </div>
                                <div class="widget">
                                    <div class="contact-info-wrap">
                                        <ul>
                                            <li>
                                                <div class="icon"><i class="flaticon-phone-call"></i></div>
                                                <div class="content">
                                                    <h5>Phone</h5>
                                                    <p><a href="995939803">+998 99 593 98 03</a></p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="flaticon-email"></i></div>
                                                <div class="content">
                                                    <h5>Email</h5>
                                                    <p><a href="mailto:adara@info.com">adara@info.com</a></p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="flaticon-place"></i></div>
                                                <div class="content">
                                                    <h5>Address</h5>
                                                    <p>71W Park lan Broklyn Street, <br>
                                                    New York. United States</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact-area-end -->

            <!-- contact-map -->
            <div id="contact-map"></div>
            <!-- contact-map-end -->

        </main>
        <!-- main-area-end -->

